@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Bold'), local('Exo2-Bold'),
		url('../fonts/Exo2-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Bold Italic'), local('Exo2-BoldItalic'),
		url('../fonts/Exo2-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Medium'), local('Exo2-Medium'),
		url('../fonts/Exo2-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Medium Italic'), local('Exo2-MediumItalic'),
		url('../fonts/Exo2-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2'), local('Exo2-Regular'),
		url('../fonts/Exo2-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Italic'), local('Exo2-Italic'),
		url('../fonts/Exo2-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}